/* no rounded edges */
* {
  border-radius: 0 !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-weight: bold;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 25px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-weight: bold;
}


h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-weight: bold;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

ul{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

/* Nav Bar Fonts */
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.collapse {
  font-family: "Montserrat", sans-serif;
}

/* Page buffers to provide enough room for smooth auto scroll*/
.top-buffer {
  margin-top: 40px;
}
.top-buffer2 {
  margin-top: 40px;
}
.bottom-buffer {
  margin-bottom: 950px;
}

/* Smooth transitions/animation for hovering over the project cards.*/
.card {
  transition: transform 250ms ease;
  transition: all 250ms ease-out;
}

/* Enables scale and backwards tilt features on hover. Adds box shadow*/
.card:hover {
  z-index: 1;
  transform: scale(1.125) perspective(500px) rotateX(2deg);
  box-shadow: 0 0 40px -5px rgb(0, 0, 0, 0.3);
}

.card:active {
  transition: all 100ms ease-out;
  transform: scale(1.0) perspective(100px) ;
}

/* Footer social media buttons */
.fa {
  text-align: center;
  text-decoration: none;
  padding: 20px;
  font-size: 25px;
  width: 125px;
}
.fa:hover {
  opacity: 0.8;
}
/* Github */
.fa-github {
  background: #00000096;
  color: white;
}
/* Linkedin */
.fa-linkedin {
  background: #2f64a0;
  color: white;
}
/* Facebook */
.fa-facebook {
  background: #3b5898fb;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55aceefb;
  color: white;
}


#weathertext{
   margin-bottom: 100px;
   line-height: 1.8;
}


#endpage{
  margin-bottom: 100px;
}



.btn,
input[type="submit"]{
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-mid {
    border-radius: 0px;
    text-decoration: none;
    padding: 14px 21px;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}

.btn-dark,
input[type="submit"]{
    border:solid 2px #1f1f1f;
    background: transparent;
    color: #1f1f1f;
}





